*{
  margin: 0;
}
nav {
    display: flex;
    gap: 10;
    margin-bottom: 20;
    padding-bottom: 10;
    border-bottom: 1px solid #ddd;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  text-align: left;
  border-bottom: 2px solid #ddd;
}

td {
  padding: 8px 4px;
  border-bottom: 1px solid #eee;
}

button {
  margin: 2px;
}